<div style="font-family: -apple-system, Helvetica; padding: 80px; font-size: 18px; line-height: 1.6">
    <img src="https://raw.githubusercontent.com/ABusyProgrammer/audittrail-backend/Email-Service/EmailService/assets/logo.png?token=AEMNVLYDKBHMCLGWAFS7MULAOIPY6"
        alt="Logo" style="margin-left: 46%;">
    <br>
    <br>
    <h1 style="text-align: center;">Welcome Back!</h1>
    <div>
        <b>Hi REPLACE_PLACEHOLDER_NAME (REPLACE_STUDENT_NUMBER)!</b>
        <br>
        <br>
        Bye Bye! We notied that you have signed out of the student portal. <br><br> We look forward to your next visit! Happy studying!

        <br>
        <br>
        <i>Pro-tip: You can easily edit a plan by selecting the course electives from the dropdown, or remove an existing course! </i>😲

    </div>
    <br>
    <button
        style="margin-left: 42%; width: 150px; height: 40px; background-color: aquamarine; border: 2px solid aquamarine; border-radius: 20px; font-size: 16px; font-weight: bold;"
        onclick="window.location.href='https://www.google.com';">Back To Portal</button>

    <br><br><br><br><br>
    <hr>
    <div style="text-align: center; font-size: 12px;">AuditTrail &#169;. All rights reserved</div>
</div>