<div style="font-family: -apple-system, Helvetica; padding: 80px; font-size: 18px; line-height: 1.6">
    <img src="https://raw.githubusercontent.com/ABusyProgrammer/audittrail-backend/Email-Service/EmailService/assets/logo.png?token=AEMNVLYDKBHMCLGWAFS7MULAOIPY6"
        alt="Logo" style="margin-left: 46%;">
    <br>
    <br>
    <h1 style="text-align: center;">Welcome Back!</h1>
    <div>
        <b>Hi REPLACE_PLACEHOLDER_NAME (REPLACE_STUDENT_NUMBER)!</b>
        <br>
        <br>
        Congratz! This is to let you know that you have successfully edited from the PROGRAM_PLACEHOLDER program. <span
            style="color: red">If
            this was not you, please contact your university's academic advising office to take corrective actions
            immediately.</span>
        <br>
        <br>
        <table style='width:25%;'>
            <tr>
                <th>
                    Name
                </th>
                <td style='background-color:#F8F0DF; border-right: 2.5px solid #00B7B5; border-bottom: 1.5px solid #000000;'>
                    REPLACE_PLACEHOLDER_NAME
                </td>
            </tr>
            <tr>
                <th>
                    Student ID
                </th>
                <td style='background-color:#F8F0DF; border-right: 2.5px solid #00B7B5; border-bottom: 1.5px solid #000000;'>
                    REPLACE_STUDENT_NUMBER
                </td>
            </tr>
            <tr>
                <th>
                    Program
                </th>
                <td style='background-color:#F8F0DF; border-right: 2.5px solid #00B7B5; border-bottom: 1.5px solid #000000;'>
                    PROGRAM_PLACEHOLDER
                </td>
            </tr>
        </table>
    </div>
    <br>
    <button
        style="margin-left: 42%; width: 200px; height: 40px; background-color: aquamarine; border: 2px solid aquamarine; border-radius: 20px; font-size: 16px; font-weight: bold;"
        onclick="window.location.href='https://www.google.com';">View Your Program</button>

    <br><br><br><br><br>
    <hr>
    <div style="text-align: center; font-size: 12px;">AuditTrail &#169;. All rights reserved</div>
</div>