<div style="font-family: -apple-system, Helvetica; padding: 80px; font-size: 18px; line-height: 1.6">
    <img src="https://raw.githubusercontent.com/ABusyProgrammer/audittrail-backend/Email-Service/EmailService/assets/logo.png?token=AEMNVLYDKBHMCLGWAFS7MULAOIPY6"
        alt="Logo" style="margin-left: 46%;">
    <br>
    <br>
    <h1 style="text-align: center;">Good Bye 😢</h1>
    <div>
        <b>Hi REPLACE_PLACEHOLDER_NAME (REPLACE_STUDENT_NUMBER),</b>
        <br>
        <br>
        We wanted to let you know that your PLACEHOLDER_UNIVERSITY has removed you from their enrollment list, and as such, you will no longer be able to register for programs with them through us. <span style="color: red">If
            this was not you, please contact your university's academic advising office to take corrective actions
            immediately.</span> <br><br> We look forward to welcoming you back soon. Best of luck! 👍

    </div>

    <br><br><br><br><br>
    <hr>
    <div style="text-align: center; font-size: 12px;">AuditTrail &#169;. All rights reserved</div>
</div>