<div style="font-family: -apple-system, Helvetica; padding: 80px; font-size: 18px; line-height: 1.6">
    <img src="https://raw.githubusercontent.com/ABusyProgrammer/audittrail-backend/Email-Service/EmailService/assets/logo.png?token=AEMNVLYDKBHMCLGWAFS7MULAOIPY6"
        alt="Logo" style="margin-left: 46%;">
    <br>
    <br>
    <h1 style="text-align: center;">Welcome!</h1>
    <div>
        <b>Hi REPLACE_PLACEHOLDER_NAME (REPLACE_STUDENT_NUMBER)!</b>
        <br>
        <br>
        Welcome to AuditTrail! You have successfully been registered at PLACEHOLDER_UNIVERSITY! <span style="color: red">If
            this was not you, please contact <code>audittrail.org@gmail.com</code></span> <br><br> Feel free to start picking a plan!

        <br>
        <br>
        <i>Pro-tip: Deleting and adding plans can take place in a single-click! </i>🧠

    </div>
    <br>
    <button
        style="margin-left: 42%; width: 130px; height: 40px; background-color: aquamarine; border: 2px solid aquamarine; border-radius: 20px; font-size: 16px; font-weight: bold;"
        onclick="window.location.href='https://www.google.com';">Get Started</button>

    <br><br><br><br><br>
    <hr>
    <div style="text-align: center; font-size: 12px;">AuditTrail &#169;. All rights reserved</div>
</div>